.ContentCocardas_PDP,
.ContentCocardas {
  display: flex;
  z-index: 9;
  top: 0;
  width: 100%;

}

.ContentCocardas_Item__left_PDP,
.ContentCocardas_Item__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  gap: 5px;
}

.ContentCocardas_Item__right_PDP,
.ContentCocardas_Item__right {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 50%;
  align-items: flex-end;
  gap: 5px;
}

.ContentTextFlag {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-weight: 600;
  padding: 5px;
}




@media screen and (max-width: 720px) {

  .ContentTextFlag {
    min-width: 100% !important;
  }

  .ContentCocardas {
    position: relative;
    height: 40px;
  }
}


.productsummaryimg_container_img_descuento{
  border-radius: 3px;
  background:  #FF1135;
  height: 20px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px; /* 100% */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 5px;
  left: 19px;
  top: 20px;
  z-index: 9;
}


.contentFlag{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  padding: 10px;
  width: 85%;
}
